.project {
    padding: 20px 10px 10px 10px;
    border: white 1px solid;
    border-radius: 20px;
    background-color: var(--black);
}

.project img {
    margin-top: 5px;
    margin-bottom: 10px;
    transition: 0.3s ease;
    border-radius: 20px;
    width: 90%;
}

.project img:hover {
    box-shadow: 1px 1px 15px;
    transition: 0.3s ease;
    color: var(--lightgrey);
}
