#mine {
    background-color: #000050;
    color: white;
    position: relative;
    height: 100vh;
    background-image: url(background/transparent.png), url(background/transparent_rotate.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top, left bottom;
}

#contact {
    position: relative;
    top: 40%;
}

#contact h1 {
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px -2px 0px #EA215A;
}

.links {
    text-align: center;
}

.links h5 {
    display: inline-block;
    margin: 10px;
}

.links a {
    color: white;
/*    transition: 0.3s ease;*/
}

.links a:hover {
    color: white;
/*    transition: 0.3s ease;*/
    text-decoration-color: #EA215A;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 1px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}
