#mine {
    background-color: #000050;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(background/transparent.png), url(background/transparent_rotate.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top, left bottom;
}

#contact h1 {
    text-align: center;
  margin: 0;
  color: transparent;
  background: -webkit-linear-gradient(
    -90deg,
    #000050 50%,
    rgba(255, 255, 255, 1) 53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.links {
    text-align: center;
}

.links h5 {
    display: inline-block;
    margin: 10px;
}

.links a {
    color: white;
/*    transition: 0.3s ease;*/
}

.links a:hover {
    color: white;
/*    transition: 0.3s ease;*/
    text-decoration-color: #EA215A;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 1px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}
